@charset "UTF-8";
/* -----------------------------------------
 Reset
------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
em {
  font-style: normal;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: .8rem 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* -----------------------------------------
 基本
------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  background: #fff;
  font-size: 1.6rem;
  font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
}
/* -----------------------------------------
 文字装飾
------------------------------------------- */
.bold {
  font-weight: bold;
}
.nomal {
  font-weight: normal;
}
.red {
  color: #e00;
}
.blue {
  color: #008CD7;
}
.yellow {
  color: #FDE24E;
}
.pink {
  color: #F0116A;
}
.orange {
  color: #EB5505;
}
.line-marker {
  background: #FFE786;
  background: -webkit-linear-gradient(top, transparent 60%, #FFE786 60%);
  background: linear-gradient(transparent 60%, #FFE786 60%);
}
p {
  line-height: 1.5;
  margin-bottom: .5em;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.f64 {
  font-size: 6.4rem;
}
.f48 {
  font-size: 4.8rem;
}
.f42 {
  font-size: 4.2rem;
}
.f38 {
  font-size: 3.8rem;
}
.f36 {
  font-size: 3.6rem;
}
.f34 {
  font-size: 3.4rem;
}
.f32 {
  font-size: 3.2rem;
}
.f28 {
  font-size: 2.8rem;
}
.f26 {
  font-size: 2.6rem;
}
.f24 {
  font-size: 2.4rem;
}
.f21 {
  font-size: 2.1rem;
}
.f19 {
  font-size: 1.9rem;
}
.f18 {
  font-size: 1.8rem;
}
.f17 {
  font-size: 1.7rem;
}
.f16 {
  font-size: 1.6rem;
}
.f15 {
  font-size: 1.5rem;
}
.f14 {
  font-size: 1.4rem;
}
.f13 {
  font-size: 1.3rem;
}
.f12 {
  font-size: 1.2rem;
}
.f11 {
  font-size: 1.1rem;
}
.f10 {
  font-size: 1rem;
}
.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 1rem;
}
.mb15 {
  margin-bottom: 1.5rem;
}
.mb20 {
  margin-bottom: 2rem;
}
.mb25 {
  margin-bottom: 2.5rem;
}
.mb30 {
  margin-bottom: 3rem;
}
.mb40 {
  margin-bottom: 4rem;
}
.mb5e {
  margin-bottom: .5em;
}
/* -----------------------------------------
 リンク
------------------------------------------- */
a:link {
  color: #008CD7;
  text-decoration: underline;
}
a:visited {
  color: #35318F;
  text-decoration: underline;
}
a:active {
  color: #e00;
  text-decoration: none;
}
a.white {
  color: #fff;
  text-decoration: underline;
}
a.blank {
  position: relative;
}
a.blank::after {
  content: '';
  width: 1.2rem;
  height: 1.2rem;
  background: url(../img/blank.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  display: inline-block;
  margin-left: .3em;
  position: relative;
  top: .1em;
}
a.arrow {
  display: inline-block;
  position: relative;
  padding-left: 1.8em;
  text-decoration: none;
}
a.arrow::before {
  content: '';
  width: .5em;
  height: .5em;
  border: 0px;
  border-top: solid .1rem #007CD1;
  border-right: solid .1rem #007CD1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: .6em;
}
a.arrow:visited::before {
  border-top: solid .1rem #35318F;
  border-right: solid .1rem #35318F;
}
a.arrow::after {
  content: '';
  width: 1.2em;
  height: .1rem;
  background: #007CD1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
}
a.arrow:visited::after {
  background: #35318F;
}
/* -----------------------------------------
 Clear Fix
------------------------------------------- */
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* -----------------------------------------
 レイアウト
------------------------------------------- */
.wrap, .wrap-in {
  margin: 0 auto;
  box-sizing: border-box;
}
.wrap-in {
  margin: 0 1.6rem;
}
section {
  clear: both;
  position: relative;
  padding: 3.2rem 0 2.4rem;
}
section:last-of-type {
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
section:after {
  content: "";
  display: block;
  clear: both;
}
.pc-only {
  display: none;
}
.sp-only {
  display: block;
}
/* -----------------------------------------
 ボタン
------------------------------------------- */
/* 赤 */
a.btn-red {
  background-color: #D61D1D;
  color: #fff;
  text-decoration: none;
  border-radius: .6rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
a.btn-red span {
  display: block;
  position: relative;
  padding: .6em 2.6em .6em 2em;
}
a.btn-red span::before {
  content: '';
  width: 1em;
  height: .2rem;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}
a.btn-red span::after {
  content: '';
  width: .5em;
  height: .5em;
  border: 0px;
  border-top: solid .2rem #fff;
  border-right: solid .2rem #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}
a.btn-red-s {
  background-color: #D61D1D;
  color: #fff;
  padding: .5em 1.4em;
  text-decoration: none;
  border-radius: .6rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
/* anime */
a.btn-red::before, a.btn-red-s::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #de4a4a;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.btn-red::after, a.btn-red-s::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D61D1D;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
a.btn-red.anime::before, a.btn-red-s.anime::before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
a.btn-red.anime::after, a.btn-red-s.anime::after {
  -webkit-transform: scale(2);
  transform: scale(2);
}
/* 白 */
a.btn-white {
  background-color: #fff;
  color: #333;
  padding: .6em 2.6em .6em 2em;
  text-decoration: none;
  border-radius: .5rem;
  position: relative;
  display: inline-block;
  min-width: 14rem;
  box-sizing: border-box;
  border: 1px solid #333;
  font-weight: bold;
}
a.btn-white::before {
  content: '';
  width: 1em;
  height: .2rem;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}
a.btn-white::after {
  content: '';
  width: .5em;
  height: .5em;
  border: 0px;
  border-top: solid .2rem #333;
  border-right: solid .2rem #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1em;
}
a.btn-white.no-border {
  border: none;
}
/*トグル*/
a.btn-orange-toggle {
  background-color: #F26C00;
  color: #fff;
  padding: .4em 2.2em .2em .8em;
  text-decoration: none;
  border-radius: .5rem;
  position: relative;
  font-weight: normal;
  display: inline-block;
  min-width: 16rem;
  box-sizing: border-box;
  line-height: 1.5;
}
a.btn-orange-toggle::before {
  content: '';
  height: 1.6rem;
  width: .2rem;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.4em;
  margin: auto;
}
a.btn-orange-toggle::after {
  content: '';
  width: 1.6rem;
  height: .2rem;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}
a.btn-orange-toggle.open::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
a.btn-orange-toggle.open::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
a.btn-img {
  padding: .6em 4em .6em 1.1em;
  border: none;
}
a.btn-img::before {
  width: 1.3em;
}
a.btn-img::after {
  width: .7em;
  height: .7em;
}
a.btn-img span {
  display: inline-block;
  position: relative;
  padding-left: 4.1rem;
  line-height: 1.3;
  text-align: left;
}
a.btn-img span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.7rem;
  height: 3.8rem;
  background: url(../img/img_sim.png) 0 0 no-repeat;
  -webkit-background-size: 2.7rem auto;
  background-size: 2.7rem auto;
}
/* -----------------------------------------
 ヘッダー
------------------------------------------- */
header {
  margin: 0 auto;
  background: #fff;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
}
.fixed #fixed-header {
  box-shadow: 0 .2rem .4rem rgba(0,0,0,.2);
}
header .wrap {
  padding: 1rem;
}
#logo {
  float: left;
  width: 8.9rem;
  margin-top: .2rem;
}
.hd-menu {
  float: right;
  margin-left: 1rem;
}
.hd-menu a {
  display: block;
  width: 3.4rem;
  height: 3.4rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/btn_sp_menu.png) 0 0 no-repeat;
  -webkit-background-size: 3.4rem auto;
  background-size: 3.4rem auto;
}
.menuOpen .hd-menu a {
  background-position: 0 bottom;
}
.hd-order {
  float: right;
  text-align: right;
}
header #logo img {
  display: block;
}
.hd-menu li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 .6rem 0 .2rem;
  white-space: nowrap;
  margin: 0;
}
.hd-menu li:first-child {
  padding-left: .8rem;
}
.hd-menu li:last-child {
  border: none;
}
header a.btn-red-s {
  line-height: 1.5;
}
.hd-nav {
  display: none;
}
/* -----------------------------------------
 スマホメニュー
------------------------------------------- */
#sp-menu {
  display: none;
  position: absolute;
  top: 5.6rem;
  left: 0;
  width: 100%;
  padding: 0 1.5rem;
  z-index: 1002;
  background-color: #F3F3F3;
  box-sizing: border-box;
  box-shadow: 0 .3rem 0 rgba(0,0,0,.2);
}
#sp-menu li {
  width: 100%;
  text-align: center;
  padding: .8rem;
  box-sizing: border-box;
  border-bottom: .2rem solid #EB5505;
}
#sp-menu li a {
  display: block;
  color: #474747;
  line-height: 2;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
}
#sp-menu a.btn-red {
  margin: 1.5rem 0;
}
@-webkit-keyframes spMenuUp {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
@-webkit-keyframes spMenuDown {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
@keyframes spMenuUp {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
@keyframes spMenuDown {
 0% {
opacity: 1;
}
 100% {
opacity: 0;
}
}
.menuOpen #sp-menu {
  -webkit-animation: spMenuUp .3s ease-in-out alternate;
  animation: spMenuUp .3s ease-in-out alternate;
}
#sp-menu.down {
  -webkit-animation: spMenuDown .3s ease-in-out alternate;
  animation: spMenuDown .3s ease-in-out alternate;
}
#sp-menuInner {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  margin-right: -30px;
  padding-right: 30px;
  -webkit-overflow-scrolling: touch;
}
.menuOpen #sp-menu {
  display: block;
}
/* -----------------------------------------
 メインビジュアル
------------------------------------------- */
#main {
  padding: 0;
  margin-top: 5rem;
}
#main h1 {
  display: block;
  text-align: center;
  position: relative;
}
#main .btn-red-s {
  position: absolute;
  bottom: 9.5%;
  left: 35%;
  margin-left: -4.6em;
  margin-bottom: -1.4em;
  line-height: 1.5;
}
/* -----------------------------------------
 品質
------------------------------------------- */
#advantage .badge {
  width: 90%;
  max-width: 54rem;
  margin: 0 auto 2rem;
}
h3.advantage-heading {
  position: relative;
  text-align: left;
  padding: 0 0 0 5.8rem;
  color: #333;
  line-height: 2.2;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
h3.advantage-heading::before {
  display: inline-block;
  width: 5.4rem;
  height: 5.4rem;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  background: url(../img/icon_advantage.png) 0 0 no-repeat;
  -webkit-background-size: 5.4rem auto;
  background-size: 5.4rem auto;
}
.box-advantage li {
  margin-bottom: 1.5rem;
}
.box-advantage li:last-child {
  margin-bottom: 0;
}
.box-advantage li:nth-of-type(1) h3.advantage-heading::before {
  background-position: 0 0;
}
.box-advantage li:nth-of-type(2) h3.advantage-heading::before {
  background-position: 0 -6.4rem;
}
.box-advantage li:nth-of-type(3) h3.advantage-heading::before {
  background-position: 0 -12.8rem;
}
/* -----------------------------------------
 ラインナップ
------------------------------------------- */
#lineup {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0 0;
}
.lineup-box {
  margin-bottom: 3rem;
}
.lineup-box > li {
  display: block;
  margin-bottom: 1.5rem;
}
.lineup-box > li:last-child {
  margin-bottom: 0;
}
.lineup-box > li ul {
  width: 95%;
  margin: auto;
}
.lineup-box > li ul li {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.lineup-box > li ul li:last-child {
  margin-right: 0;
}
.lineup-box .btn-red {
  display: block;
}
.lineup-box .btn-red span {
  padding: .8em 2.6em .8em 2em;
}
.lineup-box .btn-white {
  display: block;
  padding: .8em 1em .8em;
  font-size: 1.3rem;
  text-align: center;
}
.lineup-box .btn-white::before, .lineup-box .btn-white::after {
  display: none;
}
.lineup-box > li img {
  width: 90%;
}
.area-gray {
  background-color: #eee;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#lineup .area-gray {
  margin-bottom: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}
.area-orange {
  background-color: #FCEBDD;
  padding-bottom: 2rem;
}
.box-white {
  background-color: #fff;
  padding: 1.5rem;
}
.box-gray {
  background-color: #eee;
  padding: 1.5rem;
}
/* -----------------------------------------
 料金・特典
------------------------------------------- */
#plan table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  vertical-align: middle;
  margin-bottom: 1.6rem;
}
#plan th {
  color: #333;
  background: #F3F3F3;
  vertical-align: middle;
  border: 1px solid #ccc;
  font-size: 1.4rem;
}
#plan thead th {
  padding: .7em .5em;
  color: #fff;
  background: #474747;
}
#plan tbody th {
  padding: .9em .5em;
  font-weight: normal;
}
#plan td {
  font-size: 1.4rem;
  font-weight: bold;
  padding: .9em .5em;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
#plan table .bold {
  font-weight: bold;
}
h3.plan-heading {
  position: relative;
  text-align: left;
  padding: 0 0 1rem 3.8rem;
  color: #333;
  line-height: 1.2;
}
h3.plan-heading span:first-child::before {
  display: block;
  width: 2.9rem;
  height: 3.8rem;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: url(../img/icon_plan.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.price-per-month {
  position: relative;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
}
.price-per-month::before, .price-per-month::after {
  position: absolute;
  left: 50%;
  top: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  border-width: 14px;
}
.price-per-month::before {
  border-top-color: #333;
  margin-left: -14px;
}
.price-per-month::after {
  border-top-color: #FCEBDD;
  margin: -1px 0 0 -14px;
}
.price-per-month > div {
  margin-bottom: .5em;
}
.coupon-detail-main {
  padding: 1rem 2rem 0;
  font-weight: normal;
  font-size: 1.4rem;
  text-align: left;
  display: none;
}
.coupon-detail-main.open {
  display: block;
}
.coupon-detail-main h4 {
  margin-bottom: .5em;
}
.coupon-detail-main p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.coupon-detail-main ul.disc li:before {
  top: .6rem;
}
/*特典*/
.tokuten-box {
  background-color: #fff;
  text-align: center;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  position: relative;
  padding-top: 2rem;
}
.tokuten-box.bottom-arrow {
  margin-bottom: 2.6rem;
}
.tokuten-box.bottom-arrow::after {
  content: '';
  width: 0;
  height: 0;
  border: 2.2rem solid transparent;
  border-top: 2.2rem solid #fff;
  position: absolute;
  bottom: -4.1rem;
  left: 50%;
  margin-left: -2.2rem;
}
.box-sticker {
  font-weight: bold;
  color: #fff;
}
.box-sticker p {
  display: block;
  width: 3em;
  position: absolute;
  top: .8em;
  left: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-weight: bold;
  color: #fff;
  z-index: 2;
}
.box-sticker::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 4em solid transparent;
  border-left: 4em solid #F26C00;
}
.tokuten-gpoint {
  font-weight: bold;
  font-size: 2.1rem;
  text-align: center;
}
.img-maarutoku {
  width: 65%;
  max-width: 432px;
}
/*月額*/
.price {
  display: inline;
}
.tokuten-sticker {
  display: inline-block;
  color: #fff;
  background: #F26C00;
  font-size: 1.4rem;
  border-radius: .4rem;
  line-height: 1.2;
  padding: .5rem 1rem;
  margin-right: 1rem;
}
.tax-out {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1rem;
}
.waku {
  display: inline-block;
  position: relative;
  top: -.2em;
  margin-bottom: .1rem;
  border: 1px solid #474747;
  font-weight: normal;
  padding: .2rem;
}
.w10 {
  width: 10%;
}
.w16 {
  width: 16%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w33 {
  width: 33%;
}
.w50 {
  width: 50%;
}
.w66 {
  width: 66%;
}
.nobr {
  white-space: nowrap;
}
/* -----------------------------------------
 申し込み
------------------------------------------- */
.apply .wrap-in {
  margin-right: 2.4rem;
  margin-left: 2.4rem;
}
.apply .wrap-in > div + div {
  margin-top: 1.6rem;
}
.apply a.btn-red span {
  padding: .9em 2.6em .9em 2em;
}
.apply h3 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.apply .web-apply, .apply .tel-apply {
  background: #fff;
  padding: 1.4rem;
  text-align: center;
}
.apply .tel-apply p {
  line-height: 1;
}
.apply .tel-baloon {
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  background: #EB5505;
  padding: .4rem .4rem .3em;
  line-height: 1.2;
  border-radius: .4rem;
  margin-right: 1.4rem;
  position: relative;
}
.apply .tel-baloon::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: .6rem .8rem;
  border-style: solid;
  border-color: transparent transparent transparent #EB5505;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -1.5rem;
}
.apply .tel-number {
  font-size: 3.2rem;
  text-decoration: none;
  color: #EB5505;
  font-weight: bold;
}
/* -----------------------------------------
 独自技術で高品質を提供
------------------------------------------- */
h3.quality-heading {
  position: relative;
  text-align: left;
  padding: 0 0 1rem 9.2rem;
  color: #333;
  line-height: 1.4;
}
h3.quality-heading span::before {
  display: block;
  width: 6.8rem;
  height: 6.8rem;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/circle_logo.png) 0 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin-left: 1rem;
}
.quality-feature li {
  margin-bottom: 1.6rem;
}
.entermain-hd {
  display: table;
}
.entermain-hd > div {
  display: table-cell;
}
.entermain-hd > div:first-child {
  width: 7.6rem;
  vertical-align: top;
  padding-right: 1.5rem;
}
.entermain-hd > div > p {
  line-height: 1.2;
}
.entermain-hd > div > p:last-child {
  margin-bottom: 0;
}
.img-points {
  width: 90%;
  max-width: 490px;
  margin: 0 auto;
}
.service-list {
  width: 100%;
}
ul.disc.service-list li {
  display: inline-block;
  width: 42%;
  font-size: 1.4rem;
}
/* -----------------------------------------
 開通までの流れ
------------------------------------------- */
.dark-heading {
  background-color: #474747;
  color: #fff;
  padding: .8rem 0;
  line-height: 1.2;
  text-align: center;
  position: relative;
}
.step-wrap {
  position: relative;
  border: 1px solid #ccc;
}
.step-wrap p {
  margin-bottom: 0;
}
.step-txt {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 686px;
  height: 100%;
  margin: auto;
  font-weight: bold;
  line-height: 1.3;
}
.step-txt li {
  position: absolute;
  width: 42%;
  text-align: center;
  white-space: nowrap;
}
.step-txt li:nth-child(1) {
  top: 39%;
  left: 5%;
}
.step-txt li:nth-child(2) {
  top: 39%;
  left: 53%;
}
.step-txt li:nth-child(3) {
  top: 85%;
  left: 5%;
}
.step-txt li:nth-child(4) {
  top: 85%;
  left: 53%;
}
.prepare {
  background: #eee;
  padding: 1.5rem;
}
.prepare li {
  display: table;
  width: 100%;
  background-color: #fff;
  padding: 1.5rem 1.5rem 1rem;
  box-sizing: border-box;
}
.prepare li + li {
  margin-top: 1.5rem;
}
.prepare li p {
  line-height: 1.3;
}
.prepare-img {
  display: table-cell;
  width: 5.8rem;
  padding-right: 1.4rem;
  vertical-align: top;
}
.prepare-info {
  display: table-cell;
  vertical-align: top;
}
/* -----------------------------------------
 FAQ
------------------------------------------- */
.q-box {
  border-radius: .5rem;
  margin-bottom: .8rem;
  background-color: #fff;
}
.q-box:last-of-type {
  margin-bottom: 2rem;
}
a.question {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  display: block;
  position: relative;
  padding: 1rem 4.6rem;
  line-height: 1.2;
}
a.question::before {
  width: 2.8rem;
  height: 2.8rem;
  content: '';
  position: absolute;
  background: url(../img/icon_q.png) 0 0 no-repeat;
  background-size: 2.8rem;
  left: .8rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
a.question::after {
  width: 1.6rem;
  height: 1.6rem;
  content: '';
  position: absolute;
  background: url(../img/icon_faq_toggle.png) 0 0 no-repeat;
  -webkit-background-size: 1.6rem auto;
  background-size: 1.6rem auto;
  right: 1rem;
  top: 0;
  bottom: 0;
  margin: auto;
}
a.question.open::after {
  background-position: 0 bottom;
}
.answer {
  line-height: 1.3;
  display: none;
  padding: 0 1.6rem 1rem;
  font-size: 1.4rem;
}
ul.number li {
  padding-left: 3rem;
  text-indent: -3rem;
  margin-bottom: .5em;
  line-height: 1.5;
}
ul.number span:first-of-type {
  background-color: #008CD7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 1.4rem;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  border-radius: 50%;
  margin-right: .5em;
  line-height: 1.5;
  text-indent: 0;
}
/* -----------------------------------------
 共通
------------------------------------------- */
.notes {
  padding-left: 2em;
  line-height: 1.3;
  font-size: 1.2rem;
  box-sizing: border-box;
  clear: both;
}
.notes.half {
  padding-left: 1em;
}
p.notes {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
p.notes.inline {
  padding-left: 0;
  text-indent: 0;
}
.notes p {
  margin-bottom: 0;
  text-indent: -2em;
}
.notes.half p {
  text-indent: -1em;
}
.ttl {
  color: #333;
  margin-bottom: 2.5rem;
  text-align: center;
}
.ttl h2 {
  font-size: 2.6rem;
  font-weight: normal;
  display: inline-block;
  padding: 0 0 1rem;
  line-height: 1.2;
  border-bottom: 3px solid #EB5505;
}
ul.disc li {
  display: block;
  margin-bottom: .5rem;
  padding-left: 1.9rem;
  position: relative;
  line-height: 1.4;
}
ul.disc li:last-child {
  margin-bottom: 0;
}
ul.disc li:before {
  content: '';
  width: .6rem;
  height: .6rem;
  background: #999;
  border-radius: .8rem;
  left: .4rem;
  top: .3rem;
  margin: auto;
  position: absolute;
}
sup {
  vertical-align: top;
}
.mr10 {
  margin-right: 1rem;
}
.mr20 {
  margin-right: 2rem;
}
.device-txt {
  letter-spacing: .6rem;
}
/* -----------------------------------------
 ページトップ
------------------------------------------- */
#pagetop a {
  position: fixed;
  right: 0;
  bottom: 2.5rem;
  width: 4rem;
  height: 4rem;
  -webkit-border-radius: .5rem 0 0 .5rem;
  border-radius: .5rem 0 0 .5rem;
  color: #fff;
  text-align: center;
  background-color: #ccc;
  cursor: pointer;
  z-index: 999;
}
#pagetop a:before {
  content: '';
  width: 1rem;
  height: 1rem;
  border: 0px;
  border-top: solid .3rem #fff;
  border-right: solid .3rem #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: .6rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* -----------------------------------------
 フッター
------------------------------------------- */
footer {
  font-size: 1.2rem;
}
#copyright {
  text-align: center;
  padding: 3rem 0;
}
.foot-bnr h2 {
  margin-bottom: 2rem;
}

/* -----------------------------------------
 レスポンシブ設定
------------------------------------------- */

@media screen and (max-width: 359px) {
html {
  font-size: 50%;
}
ul.disc.service-list li {
  width: 41%;
}
}

@media screen and (min-width: 414px) {
html {
  font-size: 75%;
}
}

@media screen and (min-width: 600px) {
html {
  font-size: 90%;
}
}

@media screen and (min-width: 768px) {
html {
  font-size: 110%;
}
}

/* -----------------------------------------
 PCスタイル
------------------------------------------- */
@media screen and (min-width: 960px) {
html {
  font-size: 62.5%;
}
/* -----------------------------------------
 レイアウト
------------------------------------------- */
.wrap {
  width: 96rem;
}
.wrap-in {
  width: 88rem;
  margin: 0 auto;
}
section {
  padding: 6rem 0;
}
section:last-of-type {
  padding-bottom: 3rem;
}
.pc-only {
  display: block;
}
.sp-only {
  display: none;
}
a:hover {
  opacity: .8;
}
a:hover img {
  opacity: .8;
}
/* -----------------------------------------
 ボタン
------------------------------------------- */
/* 赤 */
a.btn-red {
  font-size: 2rem;
}
a.btn-red span {
  padding: .6em 2.6em .6em 2em;
}
a.btn-red-s {
  padding: .5em 1.4em;
}
a.btn-red.anime::before, a.btn-red-s.anime::before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
a.btn-red.anime::after, a.btn-red-s.anime::after {
  -webkit-transform: scale(0);
  transform: scale(0);
}
a.btn-red:hover::before, a.btn-red-s:hover::before {
  -webkit-transform: scale(2);
  transform: scale(2);
}
a.btn-red:hover::after, a.btn-red-s:hover::after {
  -webkit-transform: scale(2);
  transform: scale(2);
}
a.btn-red:hover, a.btn-red-s:hover {
  opacity: 1;
}
/* 白 */
a.btn-white {
  background-color: #fff;
  color: #333;
  padding: .6em 2.6em .6em 2em;
  text-decoration: none;
  border-radius: .5rem;
  position: relative;
  display: inline-block;
  min-width: 14rem;
  box-sizing: border-box;
  border: 1px solid #333;
  font-weight: bold;
}
.entermain a.btn-white {
  font-size: 1.6rem;
}
a.btn-white::before {
  content: '';
  width: 1em;
  height: .2rem;
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  margin: auto;
}
a.btn-white::after {
  content: '';
  width: .5em;
  height: .5em;
  border: 0px;
  border-top: solid .2rem #333;
  border-right: solid .2rem #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 1em;
}
a.btn-white.no-border {
  border: none;
}
/*トグル*/
a.btn-orange-toggle {
  position: absolute;
  top: 4.4rem;
  right: 7.4rem;
  padding: .4em 2.2em .3em;
  font-size: 1.8rem;
}
.tokuten-box.bottom-arrow a.btn-orange-toggle {
  top: 6rem;
}
a.btn-orange-toggle::before {
  right: 1em;
}
a.btn-orange-toggle::after {
  right: .6em;
}
a.btn-img {
  padding: .8em 3.4em .8em 1.1em;
  border: none;
}
a.btn-img.f14 {
  font-size: 1.6rem;
}
a.btn-img::before {
  width: 1.3em;
}
a.btn-img::after {
  width: .7em;
  height: .7em;
}
a.btn-img span {
  display: inline-block;
  position: relative;
  padding-left: 4.1rem;
  line-height: 1.3;
  text-align: left;
}
a.btn-img span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 2.7rem;
  height: 3.8rem;
  background: url(../img/img_sim.png) 0 0 no-repeat;
  -webkit-background-size: 2.7rem auto;
  background-size: 2.7rem auto;
}
a.btn-img span br {
  display: none;
}
/* -----------------------------------------
 ヘッダー
------------------------------------------- */
header .wrap {
  min-height: 7.2rem;
  padding: 1.5rem 0 0;
}
#logo {
  width: 11rem;
  margin-right: 3rem;
}
.hd-menu {
  display: none;
}
.hd-order {
  float: right;
  margin-top: .4rem;
  text-align: right;
}
header #logo img {
  display: block;
}
header a.btn-red-s {
  line-height: 1.5;
}
/* hd-nav */
.hd-nav {
  display: block;
  float: left;
  margin-top: 1.2rem;
}
.hd-nav li {
  display: inline-block;
  line-height: 1.3;
}
.hd-nav li + li {
  margin-left: 1.1rem;
  padding-left: 1.7rem;
  border-left: 1px solid #ccc;
  font-size: 1.4rem;
}
.hd-nav a {
  color: #333;
  text-decoration: none;
}
.hd-nav a.fs-s {
  font-size: 90%;
}
.hd-nav a:hover {
  opacity: .8;
}
.menuOpen #sp-menu {
  display: none;
}
/* -----------------------------------------
 メインビジュアル
------------------------------------------- */
#main {
  margin-top: 7.2rem;
}
#main .wrap {
  position: relative;
}
#main .btn-red-s {
  bottom: 4.5rem;
  left: 74.1rem;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
}
/* -----------------------------------------
 品質
------------------------------------------- */
#advantage .badge {
  width: 63.2rem;
  max-width: none;
  margin: 0 auto 4.8rem;
}
h3.advantage-heading {
  padding: 0 0 0 7rem;
  line-height: 2.6;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.box-advantage li:first-child h3.advantage-heading {
  line-height: 1.3;
}
h3.advantage-heading::before {
  width: 7rem;
  height: 7rem;
  left: -.4rem;
  -webkit-background-size: 7rem auto;
  background-size: 7rem auto;
}
.box-advantage li {
  float: left;
  width: 27.3rem;
  margin-right: 3rem;
  margin-bottom: 0;
}
.box-advantage li:last-child {
  margin-right: 0;
}
.box-advantage li:nth-of-type(1) h3.advantage-heading::before {
  background-position: 0 0;
}
.box-advantage li:nth-of-type(2) h3.advantage-heading::before {
  background-position: 0 -8.3rem;
}
.box-advantage li:nth-of-type(3) h3.advantage-heading::before {
  background-position: 0 -16.6rem;
}
/* -----------------------------------------
 ラインナップ
------------------------------------------- */
#lineup {
  padding: 6rem 0 0;
}
.lineup-box {
  margin-bottom: 6rem;
}
.lineup-box::after {
  content: "";
  display: block;
  clear: both;
}
.lineup-box > li {
  float: left;
  width: 42.5rem;
  margin-bottom: 0;
}
.lineup-box > li:last-child {
  float: right;
  margin-bottom: 0;
}
.lineup-box > li h3 {
  width: 37rem;
  margin: 0 auto .6rem;
}
.lineup-box > li img {
  width: 37rem;
  height: 18.3rem;
}
.lineup-box > li ul {
  width: 34.4rem;
  margin: 0 auto;
}
.lineup-box > li ul li {
  width: 48%;
  margin-right: 4%;
}
.lineup-box .btn-red {
  font-size: 1.6rem;
}
.lineup-box .btn-red span {
  padding: .8em 2.6em .8em 2em;
}
.lineup-box .btn-white {
  padding: .8em 1em .8em;
  line-height: 1.6rem;
  font-size: 1.4rem;
}
.lineup-box .btn-white::before, .lineup-box .btn-white::after {
  display: none;
}
.area-gray {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
}
#lineup .area-gray {
  margin-bottom: 0;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.area-orange {
  padding-bottom: 6rem;
}
.box-white {
  background-color: #fff;
  padding: 1.5rem;
}
.box-gray {
  background-color: #eee;
  padding: 1.5rem;
}
/* -----------------------------------------
 料金・特典
------------------------------------------- */
.monthly-plan {
  margin-bottom: 3.6rem;
}
.monthly-plan .f16 {
  font-size: 1.8rem;
}
#plan table {
  float: left;
  width: 42.5rem;
}
#plan table + table {
  float: right;
}
#plan th {
  font-size: 1.8rem;
}
#plan td {
  font-size: 1.8rem;
  padding: .9em .5em;
}
.tel-option ul.disc li {
  display: inline-block;
  vertical-align: top;
}
.tel-option ul.disc li + li {
  margin-left: 4rem;
}
.tel-option .f14 {
  font-size: 1.6rem;
}
h3.plan-heading {
  padding: 0 0 3.2rem 5.8rem;
}
h3.plan-heading .f16 {
  font-size: 2.4rem;
}
h3.plan-heading .f12 {
  font-size: 1.4rem;
}
h3.plan-heading span:first-child {
  display: inline-block;
  margin-bottom: 1rem;
}
h3.plan-heading span:first-child::before {
  width: 4.2rem;
  height: 5.6rem;
}
.price-outline {
  margin-bottom: 3rem;
}
.price-per-month {
  float: left;
  width: 38rem;
  min-height: 13.2rem;
  padding-left: 3.2rem;
  border-bottom: none;
  border-right: 1px solid #333;
  margin-bottom: 0;
}
.price-per-month::before, .price-per-month::after {
  position: absolute;
  left: auto;
  right: -2.8rem;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 14px solid transparent;
  content: '';
  height: 0;
  width: 0;
}
.price-per-month::before {
  border-top-color: transparent;
  border-left-color: #333;
  margin-left: 0;
}
.price-per-month::after {
  border-top-color: transparent;
  border-left-color: #FCEBDD;
  margin: auto 1px auto 0;
}
.set-price {
  float: right;
  width: 42.5rem;
}
.set-price p {
  margin-bottom: 0;
}
.set-price p:first-child {
  padding-top: .7rem;
  font-size: 2rem;
  text-align: left;
}
.coupon-detail-main {
  padding: 1rem 2rem 0;
  font-weight: normal;
  font-size: 1.4rem;
  text-align: left;
  display: none;
}
.coupon-detail-main.open {
  display: block;
}
.coupon-detail-main h4 {
  margin-bottom: .5em;
}
.coupon-detail-main p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.coupon-detail-main ul.disc li:before {
  top: .4em;
}
/*特典*/
.tokuten-box {
  margin-bottom: 0;
  padding: 4.5rem 0;
}
.tokuten-box.bottom-arrow {
  padding-bottom: 1.6rem;
}
.box-sticker p {
  top: 1.8rem;
  left: .9rem;
  font-size: 1.8rem;
}
.box-sticker::before {
  border-bottom: 9rem solid transparent;
  border-left: 9rem solid #F26C00;
}
.tokuten {
  padding-right: 16rem;
}
.tokuten p {
  display: inline-block;
  vertical-align: middle;
}
.tokuten-gpoint {
  margin-bottom: 0;
  padding: 0 17rem 0 5rem;
  font-size: 2.8rem;
}
.tokuten-gpoint br {
  display: none;
}
.img-maarutoku {
  width: 31.6rem;
  height: 6.5rem;
  position: relative;
  top: -.7rem;
  margin-right: 1.6rem;
}
.tokuten-date {
  margin-bottom: 0;
  font-size: 1.6rem;
}
/*月額*/
.price-per-month > div {
  text-align: left;
}
.price-per-month .price {
  display: block;
}
.price-per-month .price .f42 {
  font-size: 6rem;
}
.price-per-month .price .f28 {
  font-size: 4.2rem;
}
.tokuten-sticker {
  padding: .7rem 2rem;
  margin-right: 0;
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
}
.tax-out {
  font-size: 2rem;
  margin-left: 1rem;
}
.waku {
  padding: .2rem .4rem;
  font-size: 1.9rem;
}
/* -----------------------------------------
 申し込み
------------------------------------------- */
.apply .wrap-in {
  margin: 0 auto;
}
.apply .wrap-in > div {
  float: left;
  width: 42.5rem;
  box-sizing: border-box;
}
.apply .wrap-in > div + div {
  float: right;
  margin-top: 0;
}
.apply a.btn-red span {
  padding: .6em 3.1em .6em 2.7em;
}
.apply h3 {
  font-size: 2.4rem;
  margin-bottom: 3.6rem;
}
.apply .web-apply, .apply .tel-apply {
  min-height: 13.9rem;
  padding: 1.6rem;
}
.apply .tel-apply p {
  line-height: 1;
}
.apply .tel-apply p:last-child {
  margin-bottom: 0;
}
.apply .web-apply p.f14, .apply .tel-apply p.f14 {
  font-size: 1.8rem;
  letter-spacing: .1rem;
}
.apply .tel-apply p.f14 {
  margin-bottom: .7em;
}
.apply .tel-apply p.f12 {
  font-size: 1.4rem;
  font-weight: normal;
}
.apply .tel-baloon {
  top: -.3rem;
  font-size: 1.2rem;
  padding: .5rem .4rem .4em;
  margin-right: 1.2rem;
}
.apply .tel-baloon::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: .6rem .8rem;
  border-style: solid;
  border-color: transparent transparent transparent #EB5505;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -1.5rem;
}
.apply .tel-number {
  font-size: 4rem;
}
/* WEBのみ */
.apply.single .wrap-in {
  text-align: center;
}
.apply.single .wrap-in > div {
  float: none;
  display: inline-block;
  width: auto;
}
.apply.single .web-apply {
  min-height: 0;
  padding: 2.4rem;
}
.apply.single .web-apply p {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}
.apply.single .web-apply p:first-child {
  width: 24rem;
  padding-right: 2.4rem;
  box-sizing: border-box;
}
/* -----------------------------------------
 独自技術で高品質を提供
------------------------------------------- */
h3.quality-heading {
  padding: 0 0 1rem 15.2rem;
  line-height: 1.2;
  font-size: 2.4rem;
}
h3.quality-heading span::before {
  width: 11.2rem;
  height: 11.2rem;
  left: .8rem;
  margin-left: 0;
}
h3.quality-heading br {
  display: none;
}
h3.quality-heading + p {
  margin-bottom: 3.6rem;
  padding-left: 15.2rem;
  font-size: 1.6rem;
}
.quality-feature {
  margin-bottom: 3rem;
}
.quality-feature li {
  float: left;
  width: 42.5rem;
  margin-bottom: 0;
}
.quality-feature li:last-child {
  float: right;
}
.quality-feature li .dark-heading {
  font-size: 1.8rem;
}
.quality-feature li p.f14 {
  min-height: 4.5em;
  font-size: 1.6rem;
}
.quality-feature .box-white {
  min-height: 22.8rem;
  box-sizing: border-box;
}
.entermain.box-white {
  padding: 2.4rem;
}
.entermain > p {
  clear: both;
  margin-bottom: 0;
  padding-top: 2.4rem;
}
.entermain-box {
  float: left;
  width: 46rem;
}
.entermain-box > p {
  margin-bottom: 0;
  font-size: 1.6rem;
}
.entermain-hd {
  display: table;
  width: 100%;
}
.entermain-hd > div {
  display: table-cell;
}
.entermain-hd > div:first-child {
  width: 10rem;
}
.entermain-hd > div > p {
  font-size: 2.4rem;
}
.entermain-hd > div > p:last-child {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 1.8rem;
}
.entermain-hd > div > p .f24 {
  font-size: 2.8rem;
}
.entermain-hd > div > p .f18 {
  font-size: 2rem;
}
.entermain .box-gray {
  float: right;
  width: 31.1rem;
  margin-bottom: 0;
}
.img-points {
  width: auto;
  height: 10.4rem;
}
ul.disc.service-list li {
  display: inline-block;
  width: 42%;
  font-size: 1.4rem;
}
/* -----------------------------------------
 開通までの流れ
------------------------------------------- */
.dark-heading {
  padding: 1.2rem 0;
  font-size: 2rem;
}
.dark-heading .f14 {
  font-size: 1.6rem;
}
.dark-heading br {
  display: none;
}
.step-wrap {
  padding: 2.4rem 0;
}
.step-wrap p {
  margin-bottom: 0;
}
.step-txt {
  position: relative;
  width: 100%;
  max-width: 82rem;
  height: auto;
}
.step-txt::after {
  content: "";
  display: block;
  clear: both;
}
.step-txt li {
  position: static;
  float: left;
  width: 16.6rem;
  margin-right: 5.18rem;
}
.step-txt li:last-child {
  margin-right: 0;
}
.step-txt .f12 {
  font-size: 1.4rem;
}
.step-txt .f14 {
  font-size: 1.8rem;
}
/* 準備いただくもの */
.prepare {
  padding: 2.4rem;
}
.prepare::after {
  content: "";
  display: block;
  clear: both;
}
.prepare li {
  display: block;
  float: left;
  width: 26.1rem;
  min-height: 26rem;
  padding: 2.4rem 2.4rem 1.8rem;
}
.prepare li + li {
  margin-top: 0;
  margin-left: 2.4rem;
}
.prepare li p {
  line-height: 1.3;
}
.prepare li p:first-child {
  text-align: center;
  font-size: 1.8rem;
}
.prepare-img {
  display: block;
  width: 40%;
  margin: 0 auto 1.8rem;
  padding-right: 0;
}
.prepare-info {
  display: block;
}
/* -----------------------------------------
 FAQ
------------------------------------------- */
.q-box {
  margin-bottom: 1.6rem;
}
.q-box:last-of-type {
  margin-bottom: 0;
}
a.question {
  padding: 1.8rem 6rem 1.8rem 8.6rem;
  font-size: 2rem;
}
a.question::before {
  width: 4.6rem;
  height: 4.6rem;
  -webkit-background-size: 4.6rem;
  background-size: 4.6rem;
  left: 2rem;
}
a.question::after {
  width: 2.4rem;
  height: 2.4rem;
  -webkit-background-size: 2.4rem auto;
  background-size: 2.4rem auto;
  right: 2.4rem;
}
a.question.open::after {
  background-position: 0 bottom;
}
.answer {
  padding: 0 6rem 1.2rem 8.6rem;
  font-size: 1.6rem;
}
ul.number li {
  padding-left: 3rem;
  text-indent: -3rem;
  margin-bottom: .5em;
  line-height: 1.5;
}
ul.number span:first-of-type {
  background-color: #008CD7;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 1.4rem;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  border-radius: 50%;
  margin-right: .5em;
  line-height: 1.5;
  text-indent: 0;
}
/* -----------------------------------------
 共通
------------------------------------------- */
.ttl {
  margin-bottom: 4.8rem;
}
.ttl h2 {
  padding-bottom: 1.5rem;
  font-size: 3.2rem;
  border-bottom-width: .4rem;
}
ul.disc li {
  display: block;
  margin-bottom: .5rem;
  padding-left: 1.9rem;
  position: relative;
  line-height: 1.4;
}
ul.disc li:last-child {
  margin-bottom: 0;
}
ul.disc li:before {
  top: .8rem;
}
/* -----------------------------------------
 フッター
------------------------------------------- */
.foot-bnr h2 {
  margin-bottom: 6rem;
}
/* end */}
